/* ========================================================================================== */
/*  COLORS
/* ========================================================================================== */

/* ============================== */
/*  Site Colors
/* ============================== */

$black: #000;
$white: #fff;


/* ============================== */
/*  Brand Colors
/* ============================== */

$facebookBlue: #3b5998;
$twitterBlue: #55acee;
$linkedinBlue: #0976b4;
$googleRed: #dd4b39;
$youtubeRed: #e52d27;


/* ========================================================================================== */
/*  MEDIA QUERIES
/* ========================================================================================== */

$small: max-width 767px;
$medium: min-width 768px;
$large: min-width 1024px;
$x-large: min-width 1280px;