@function _shape-size-stripper($shape-size) {
	$shape-size-spec: null;
	@each $value in $shape-size {
		$shape-size-spec: "#{$shape-size-spec} #{$value}";
		@if ($value == "cover") or ($value == "contain") {
			$value: null;
		}
	}
	@return $shape-size-spec;
}