@@include('templates/head.html', {
	"title": "",
	"description": "",
	"keywords": "",
	"body_class": ""
})

<!-- MAIN start -->

		<main class="main">
			<div class="container">

<!-- CONTENT start -->

				<section class="content">
					<h1>Headline</h1>

					<h2>Headline</h2>

					<h3>Headline</h3>

					<h4>Headline</h4>

					<h5>Headline</h5>

					<h6>Headline</h6>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Adipisci, unde, pariatur? Perspiciatis facilis quidem, possimus debitis, qui quaerat aliquid id officiis ullam, temporibus consectetur tempore quo, sunt eaque architecto nesciunt?</p>

					<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Neque deserunt, nam ab ad perferendis, sit quaerat saepe, obcaecati accusamus nobis sint dolorum blanditiis! Maiores consequuntur perferendis necessitatibus harum, laudantium eveniet. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Unde numquam at dolor dolore mollitia vel quam esse. Minus possimus, sed ipsa totam dicta veritatis. Ratione suscipit temporibus eligendi quae beatae. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur repudiandae quisquam quos ullam similique amet porro, architecto nisi. Nobis tempora totam dignissimos dolores ratione ullam dicta aperiam cum, ducimus fuga.</p>

					<ul>
						<li>
							<a href="#">Lorem ipsum dolor sit amet</a>
						</li>

						<li>
							<strong>Lorem ipsum dolor sit amet</strong>
						</li>

						<li>
							<em>Lorem ipsum dolor sit amet</em>
						</li>

						<li>
							<u>Lorem ipsum dolor sit amet</u>
						</li>
					</ul>
				</section>

<!-- CONTENT end -->

			</div>
		</main>

<!-- MAIN end -->

<!-- FOOTER start -->

		@@include('templates/footer.html')

<!-- FOOTER end -->