@mixin retina-image($filename, $background-size, $extension: png, $retina-filename: null, $retina-suffix: _2x, $asset-pipeline: $asset-pipeline) {
	@include hidpi {
		background-size: $background-size;
		@if $asset-pipeline {
			@if $retina-filename {
				background-image: image-url("#{$retina-filename}.#{$extension}");
			} @else {
				background-image: image-url("#{$filename}#{$retina-suffix}.#{$extension}");
			}
		} @else {
			@if $retina-filename {
				background-image: url("#{$retina-filename}.#{$extension}");
			} @else {
				background-image: url("#{$filename}#{$retina-suffix}.#{$extension}");
			}
		}
	}
	@if $asset-pipeline {
		background-image: image-url("#{$filename}.#{$extension}");
	} @else {
		background-image: url("#{$filename}.#{$extension}");
	}
}