<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
		<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- SEO META DATA start -->

		<title>@@title</title>
		<meta name="author" content="">
		<meta name="copyright" content="">
		<meta name="description" content="@@description">
		<meta name="keywords" content="@@keywords">

<!-- SEO META DATA end -->

<!-- ICONS start -->

		<link rel="apple-touch-icon-precomposed" sizes="144x144" href="apple-touch-icon-144x144-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="apple-touch-icon-114x114-precomposed.png">
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="apple-touch-icon-72x72-precomposed.png">
		<link rel="apple-touch-icon-precomposed" href="apple-touch-icon-57x57-precomposed.png">
		<link rel="shortcut icon" href="apple-touch-icon.png">

<!-- ICONS end -->

<!-- FONTS | STYLESHEETS | LIBRARIES start -->

		<!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Open+Sans"> -->

		<link rel="stylesheet" href="assets/css/styles.css">

		<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.0/jquery.min.js"></script>
		<script>window.jQuery || document.write('<script src="assets/js/jquery/jquery.min.js"><\/script>')</script>
		<script src="assets/js/modernizr/modernizr.js"></script>

<!-- FONTS | STYLESHEETS | LIBRARIES end -->

<!-- ANALYTICS start -->

		<!-- <script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-XXXXX-XX', 'auto');
			ga('send', 'pageview');
		</script> -->

<!-- ANALYTICS end -->

	</head>

	<body class="@@body_class">

<!-- HEADER start -->

		@@include('header.html')

<!-- HEADER end -->

<!-- NAVIGATION start -->

		@@include('navigation.html')

<!-- NAVIGATION end -->