## Custom

*.sublime-*
.vagrant
_copy
_design
icons
importbuddy.php
public
Search-Replace-DB


## Node.js

*.log
*.pid
*.seed
.lock-wscript
build/Release
coverage
lib-cov
logs
node_modules
pids


## Bower

bower
bower_components


## CSS/SCSS

*.css.map
.sass-cache


## OS X

._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.DS_Store
.LSOverride
.Spotlight-V100
.Trashes
Icon
Network Trash Folder
Temporary Items


## Windows

*.cab
*.msi
*.msm
*.msp
*.lnk
$RECYCLE.BIN/
Desktop.ini
ehthumbs.db
Thumbs.db
